<div class="modal-header" style="background-color: #f5f5dc;">
  <h4 class="modal-title text-dark">Full Technical Stack</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body p-4" style="background-color: #f5f5dc;">
  <div class="row">
    
    <div class="col-md-6 mb-4">
      <h5 class="text-info border-bottom pb-2">Languages & Frontend</h5>
      <div class="d-flex flex-wrap gap-3 mt-2">
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" width="45" height="45" alt="TypeScript" title="TypeScript [cite: 8, 10]">
          <p class="small text-dark mb-0">TypeScript</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" width="45" height="45" alt="JavaScript" title="JavaScript [cite: 8, 10]">
          <p class="small text-dark mb-0">JavaScript</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg" width="45" height="45" alt="Angular" title="Angular [cite: 8]">
          <p class="small text-dark mb-0">Angular</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg" width="45" height="45" alt="React" title="React [cite: 8]">
          <p class="small text-dark mb-0">React</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" width="45" height="45" alt="C++" title="C++ [cite: 10, 16]">
          <p class="small text-dark mb-0">C++</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <h5 class="text-info border-bottom pb-2">Backend & Databases</h5>
      <div class="d-flex flex-wrap gap-3 mt-2">
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nestjs/nestjs-original.svg" width="45" height="45" alt="NestJS" title="NestJS [cite: 8, 30]">
          <p class="small text-dark mb-0">NestJS</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg" width="45" height="45" alt="Node.js" title="Node.js [cite: 8]">
          <p class="small text-dark mb-0">Node.js</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original.svg" width="45" height="45" alt="PostgreSQL" title="PostgreSQL [cite: 9, 34]">
          <p class="small text-dark mb-0">Postgres</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" width="45" height="45" alt="MongoDB" title="MongoDB [cite: 9, 30]">
          <p class="small text-dark mb-0">MongoDB</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-original.svg" width="45" height="45" alt="Redis" title="Redis [cite: 34, 38]">
          <p class="small text-dark mb-0">Redis</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h5 class="text-info border-bottom pb-2">Tools & Environment</h5>
      <div class="d-flex flex-wrap gap-3 mt-2">
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-original.svg" width="45" height="45" alt="VS Code">
          <p class="small text-dark mb-0">VS Code</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/xcode/xcode-original.svg" width="45" height="45" alt="Xcode">
          <p class="small text-dark mb-0">Xcode</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" width="45" height="45" alt="Git">
          <p class="small text-dark mb-0">Git</p>
        </div>
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg" width="45" height="45" alt="GitHub">
          <p class="small text-dark mb-0">GitHub</p>
        </div>
        <div class="text-center">
          <div class="bg-dark text-white rounded d-flex align-items-center justify-content-center" style="width: 45px; height: 45px; font-weight: bold; font-size: 10px;">
            BULL
          </div>
          <p class="small text-dark mb-0">BullMQ </p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="modal-footer" style="background-color: #f5f5dc;">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>